html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Georgia", Times, serif;
}
.selected {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
.unSelected {
  background-color: blue;
}
.nav {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  color: black;
}
.nav:hover {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}
.navOther {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  color: white;
}
.navOther:hover {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  color: white;
}
.width {
  width: 70%;
  margin: auto;
}
